body {
  padding: 5px;
  background-color: #f2d153;
}

h1 {
  color: red;
  font-family: "Muli", sans-serif;
}

h2 {
  color: red;
  font-family: "Muli", sans-serif;
}

li {
  font-family: "Muli", sans-serif;
}

.burger-img {
  height: 300px;
}

#img-div {
  text-align: center;
}

.uneaten {
  list-style: none;
  background-color: #f4eada;
  padding: 10px 0px 10px 0px;
  width: 200px;
  margin-bottom: 20px;
  text-align: center;
}

.devoured {
  margin: 0;
}

.row {
  margin-bottom: 10px;
}

.devour-button {
  font-family: "Muli", sans-serif;
  margin-left: 20px;
  max-height: 30px;
}

.form-group {
  font-family: "Muli", sans-serif;
}

.submit-button {
  font-family: "Muli", sans-serif;
}
